<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<footer class="bg-gray-200 py-4 fixed bottom-0 w-full">
    <div class="text-center text-gray-600">
        <p>Developer: <span class="font-bold">Swan Htet Aung Phyo (SHAMANMORGAN)</span></p>
        <p>Degree: <span class="font-bold">AGH University Of Technology (Krakow)</span></p>
        <div class="flex justify-center">
            <a href="mailto:swanhtet102002@gmail.com" class="text-blue-500 hover:underline">swanhtet102002@gmail.com</a>
        </div>
    </div>
</footer>



</body>
</html>